.pf2e.actor.loot {    
    .sidebar {        
        float: none;
        width: 100px;        
    }
    
    .inventory-list .item .item-controls a.item-toggle-equip, .pf2e.actor .item.action-header .item-controls a.item-toggle-equip {
        display: none;
    }    
}